<% bookings.each do |booking| %>
  <%= link_to booking_path(booking), class: "relative flex items-start justify-between rounded-xl borderp-4 shadow-xl sm:p-6 lg:p-8 bg-gray-50" do %>
    <div class="pt-4 text-gray-500">
      <h3 class="mt-4 text-lg font-bold text-gray-900 sm:text-xl">
        <%= booking.first_name %> <%= booking.last_name %>
      </h3>

      <p class="mt-2 hidden text-sm sm:block">
        Starts at: <%= booking.start_at.strftime("%H:%M %d/%m/%Y")  %>
      </p>
    </div>

    <span
      class="rounded-full px-3 py-1.5 text-xs font-medium <%= booking.status == 'approved' ? 'text-green-600 bg-green-100' : 'text-red-600 bg-red-100' %>"
    >
      <%= booking.status %>
    </span>
  <% end %>
<% end %>
