<div class="flex justify-center py-4">
  <div
    class="w-4/6 bg-white border border-gray-200 rounded-lg shadow flex flex-col items-center"
  >
    <div
      class="border-b w-full flex justify-center"
      style="border-bottom: 2px solid <%= @event.color %>;"
    >
      <div class="flex justify-between w-5/6 m-4 items-center">
      <div>
        <h1 class="text-xl font-medium text-gray-900">
          Booked <%= @event.name %>
        </h1>
        <p class="text-sm text-gray-500">Event by: <%= @event.user.name %> </p>
      </div>
        <%= link_to "Go Back", user_path(@event.user.slug), class: "inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300" %>
      </div>
    </div>
    <div class="w-4/5 mb-4">
      <%= render @booking %>
    </div>
  </div>
</div>