<div class="flex flex-col items-center py-4">
  <div
    class="w-4/6 bg-white border border-gray-200 rounded-lg shadow flex flex-col items-center"
  >
    <div
      class="border-b w-full flex justify-center"
      style="border-bottom: 2px solid <%= @event.color %>;"
    >
      <div class="flex justify-between w-5/6 m-4 items-center">
        <h1 class="text-xl font-medium text-gray-900">
          <%= @event.name %>
        </h1>
        <%= link_to "Go Back", :back, class: "inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300" %>
      </div>
    </div>
    <div class="w-4/5 mb-4">
      <%= render @event %>

      <% if @event.user_id == current_user&.id %>
        <%= link_to 'Edit', edit_event_path(@event), class: "inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 mt-6" %>
        <%=
          link_to 'Destroy', event_path(@event), class: "inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 mx-4",                 data: {
            turbo_method: :delete,
          }
        %>
      <% else %>
        <%= link_to "Book Event", new_booking_path(@event), class: "inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 mt-6" %>
      <% end %>
    </div>
  </div>

  <% if @event.user_id == current_user&.id %>
  <div class= "grid w-4/6 grid-cols-2 gap-6 pt-8">
    
      <%= render 'bookings/index', bookings: @event.bookings %>

  </div>
  <% end %>
</div>