<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CalendlyCloneApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="flex h-screen flex-col">
    <%= render "shared/navbar" %>
    <section class="bg-gray-50 h-full background-animate bg-gradient-to-r from-primary-500 to-primary-700">
    <%= render "shared/flash" %>
      <%= yield %>
    </section>
    <%= render "shared/footer" %>
  </body>
</html>
